*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}

.navbar{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.menutext{
    display:flex;
    list-style:none;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    gap: 20px;
}
.title{
    display:flex;
    list-style:none;
    gap: 20px;
}
.title li a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.title li a:hover{
    color: red;
    transition: 1s ease all;
}
.navbar-brand img {
    height: 40px;
    width: 120px;
    padding-left: 20px;
}
.btn1{
    background: none;
    border: 1px solid red;
    padding: 10px;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px; 
}

.tint-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
}

.tint-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tint h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
}
.tint p{
    line-height: 20px;
    padding-top: 10px;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn2{
    padding: 15px;
    background-color: red;
    border: none;
    border-radius: 30px;
    margin-top: 25px;
}
.btn2 a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 700;
}
.riot h1{
    font-size: 60px;
    font-weight: 700;
}
.riot p{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}
.riot-1 h1{
    font-size: 60px;
    font-weight: 700;
}
.riot-1 p{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}
.riot-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 100px;
    gap: 50px;
}
.riot-wrap-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 100px;
    gap: 50px;
}
.feat-wrap{
    display: flex;
    gap: 80px;
}
.dent img{
    height: 490px;
    width: 650px;
}

.feat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.feat h1{
    padding-top: 40px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
}

.feat p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.feat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.tips h1{
    font-size: 50px;
    font-weight: 500;
}
.endure img{
    height: 130px;
}
.foot-tame{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 20px;
}
.foot-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.foot-tame i{
    color: red;
    font-size: 25px;
    padding-top: 20px;
}
.foot-taming{
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.foot-taming li{
    list-style-type: none;
}
.foot-taming li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 23px;
}
.clip{
    font-size: 25px;
}
@media screen and (max-width: 1024px) {
    .kofi{
        display: none;
    }
    .dent img{
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .riot-wrap{
        padding: 50px 10px 40px 10px;
    }
    .riot-wrap-1{
        padding: 50px 10px 40px 10px;
    }
    .riot h1 {
        font-size: 40px;
        font-weight: 700;
    }
    .riot-1 h1 {
        font-size: 40px;
        font-weight: 700;
    }
     .dent img{
        height: 400px;
        width: 400px;
    }
    
}
@media screen and (max-width:426px) {
    .riot-wrap{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .riot-wrap-1{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .feat-wrap{
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
    } 
    .navbar{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .btn1{
        margin-right: 0%;
        padding: 5px;
        font-size: 12px;
    }
    .tint h1{
        font-size: 44px;
    }
    .foot-taming{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .clip{
        font-size: 23px;
    }
    .navbar-brand img{
        padding-left: 0;
    }
}
@media screen and (max-width: 376px) {
    .dent img {
        height: 358px;
        width: 371px;
    }
    .navbar-brand img{
        padding-left: 0;
    }
}
@media screen and (max-width: 321px) {
    .feat-wrap{
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
    }
        .dent img {
        height: 290px;
        width: 310px;
    }
    .menutext{
        padding: 0%;
    }
    .title{
        gap: 5px;
    }
    .riot-wrap{
        text-align: center;
    }
    .riot-wrap-1{
        text-align: center;
    }
    .clip{
        font-size: 18px;
    }
    .navbar-brand img{
        padding-left: 0;
    }
}



